*{
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}

/* OPEN animation */

.OPEN{
    width: 100%;
    height: 100vh;
    background: #e3edf7;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 10000;
    animation-delay: 1s;
    transition: 2s;
}
.skill{
    width: 100%;
    height: 100vh;
    background: #e3edf7;
    position: absolute;
    top:40%;
    left: 45%;
    transform: translate(-10px,-10px);
    display: block;
    opacity: 1;
    transition: 1s;
}
.outer{
    height: 160px;
    width: 160px;
    border-radius: 50%;
    padding: 20px;
    box-shadow: 6px 6px 10px -1px rgba(0, 0, 0, 0.15),
                -6px -6px 10px -1px rgba(255, 255, 2550, 0.7);
}
.inner{
    height: 120px;
    width: 120px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    box-shadow: inset 4px 4px 6px -1px rgba(0, 0, 0, 0.2),
                inset -4px -4px 6px -1px rgba(255, 255, 2550, 0.7),
                -0.5px -0.5px 0px rgba(255, 255, 2550, 1),
                0.5px 0.5px 0px rgba(0, 0, 0, 0.15),
                0px 12px 10px -10px rgba(0, 0, 0, 0.05);
}
#number{
    font-weight: 800;
    color: #555;
}
circle{
    fill:none;
    stroke: url(#GradientColor);
    stroke-width: 20px;
    stroke-dasharray: 472;
    stroke-dashoffset: 472;
    animation: anim 2s linear forwards;
}
svg{
    position: absolute;
    top:0;
    left: 0;
}
@keyframes anim{
    100%{
        stroke-dashoffset: 0;
    }
}




.Containnner{
    width: 100%;
    height: 100vh;
    position: fixed;
    display: flex;
    flex-direction: row;
    overflow: hidden;
}
.leftside{
    width: auto;
    height: 92vh;
    background-color: rgb(10, 124, 86);
    display: flex;
    overflow: auto;
    float: left;
}
.rightside{
    width: 75%;
    height: 100vh;
    background-color: aquamarine;
    overflow: auto;
    float: right;
}
.grid{
    padding: 20px;
    display: flex;
    flex-direction: row;
}
.card{
    padding: 20px;
    margin: 20px;
}
.card-text{
    display: flex;
    justify-content: center;
    align-items: center;
}
.d-block{
    padding: 10px;
    width: 100%;
    height: 90vh;
}
.card .card-body .more{
    width: 100px;
    height: 20px;
    border: none;
    background-color: bisque;
    transition: 0.5s;
}
.card .card-body .more:hover{
    width: 200px;
}
.card .card-body button{
    border: none;
    background-color: black;
    border-radius: 10px;
    padding: 10px;
}
.card .card-body a{
    text-decoration: none;
    color: rgb(255, 255, 255);
}

/* sroll setting */
::-webkit-scrollbar{
    width: 10px;
}
::-webkit-scrollbar-track{
    border-radius: 10px;
}
::-webkit-scrollbar-thumb {
    background: rgb(85, 85, 85); 
    border-radius: 10px;
}

.antherpage{
    width: 90%;
    height: 90vh;
    background: #555;
    position:absolute;
    top:10px;
    left: 5%;
    z-index: 99;
    border-radius: 20px;
    display: none;
    overflow: auto;
}
.antherpage nav{
    position: relative;
    top: 90%;
    left: 40%;
}
.antherpage .close,.XX{
    width: 50px;
    height: 50px;
    position: fixed;
    right: 10px;
    top:10px;
    z-index: 100;
}
.slider_container{
    width: 90%;
    height: 90vh;
}
.slider_container ul{
    list-style: none;
}
.slider_container img{
    padding: 20px;
    width: 850px;
    height: 90vh;
}
.slider_container ul #cover:nth-child(1){
    width: 35%;
    height: 80vh;
    position: relative;
    left: 18%;
    margin: 40px 0 40px 0;
}
.slider_container ul #cover:nth-child(2){
    width: 35%;
    height: 80vh;
    position: relative;
    left: 18%;
    margin: 40px 0 40px 0;
}
.LLink{
    width: 200px;
    height: auto;
    padding: 20px;
    border-radius: 20px 0 20px 0;
    background: linear-gradient(45deg,#a385fe,#ff89ed);
    position: fixed;
    top: 100px;
    right:200px;
    z-index: 100;
    font-size: 0.8em;
    font-weight: 600;
    font-family: 'Noto Sans TC', sans-serif;
    display: flex;
    flex-direction: column;
    align-content: center;
    align-items: center;
    justify-content: space-evenly;
}
.LLink a{
    text-decoration: none;
    color: rgb(255, 255, 255);
}
.LLink a:hover{
    color: rgb(0, 0, 0);
    transition: 3s cubic-bezier(0.075, 0.82, 0.165, 1);
}