*{
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}
/* menu icon*/
body{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background: linear-gradient(45deg,#a385fe,#ff89ed);
}
.Title h1{
    padding: 20px;
    font-weight: 900;
    font-family: 'Noto Sans TC', sans-serif;
}
.toggle{
    position: relative;
    width: 70px;
    height: 70px;
    background: #fff;
    box-shadow: 0 10px 20px rgba(0, 0,0, 0.08);
    border-radius: 8px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    overflow: hidden;
    z-index: 100000;
}
.toggle span{
    position: absolute;
    width: 40px;
    height: 4px;
    background: #1863ff;
    border-radius: 4px;
    transition: 0.5s;
}
.toggle span:nth-child(1){
    transform: translateY(-15px);
    width: 25px;
    left:15px;
}
.toggle.active span:nth-child(1){
    width: 40px;
    left:15px;
    transform: translateY(0px) rotate(45deg) ;
    transition-delay: 0.125s ;
}
.toggle span:nth-child(2){
    transform: translateY(15px);
    width: 15px;
    left:15px;
}
.toggle.active span:nth-child(2){
    width: 40px;
    left:15px;
    transform: translateY(0px) rotate(315deg);
    transition-delay: 0.125s;
}
.toggle.active span:nth-child(3){
    transform: translateX(60px);
    width: 15px;
    left:15px;
}
/* menu content */
.menu{
    position: relative;
    width: 300px;
    height: 300px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: 400;
    font-family: 'Noto Sans TC', sans-serif;
}
.menu li{
    position: absolute;
    left: 0;
    list-style: none;
    transform-origin: 150px;
    transition: 0.5s;
    transition-delay: calc(0.1s * var(--i));
    transform: rotate(0deg) translateX(125px);
}
.menu.active li{
    transform: rotate(calc(360deg / 3 * var(--i)));
}
.menu li a{
    width: 60px;
    height: 60px;
    color: #fff;
    text-decoration: none;
    display: flex;
    align-items: center;
    justify-content: center;
    background: #1863ff;
    border-radius: 50%;
    transform: rotate(calc(360deg / -3 * var(--i)));
}